@font-face {
  font-family: helveticaNeue;
  src: url(../img/HelveticaNeue.ttc);
}
* {
  font-family: "Helvetica Neue";
  font-style: normal;
}
.left__part {
  display: block;
  background-color: #f9f9f9;
  position: absolute;
  height: 100vh;
  width: 57vw;
  top: 0;
  left: 0;
}
.back__button {
  position: absolute;
  top: 5vh;
  left: 2vw;
  cursor: pointer;
}
.personal__info {
  position: absolute;
  left: 8vw;
  top: 5vh;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}
.underline {
  border-bottom: 2px solid #1a1a1a;
  width: 42vw;
  position: absolute;
  top: 11vh;
  left: 8vw;
}
.one__third {
  position: absolute;
  left: 49vw;
  top: 5vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a1a1a;
}
.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 15vh;
  left: 8vw;
  width: 46vw;
}
/* Styling for all input header texts */
.text {
  display: block;
  padding-bottom: 1vh;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
/* Styling for all input footers */
.footer {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}
.name__input {
  box-sizing: border-box;
  width: 19vw;
  height: 5vh;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1vw;
}

.photo {
  position: absolute;
  top: 32vh;
  left: 8vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}
.photo__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 12px;
  gap: 10px;
  width: 5vw;
  height: 2vh;
  left: 21vw;
  background: #0e80bf;
  border-color: #0e80bf;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.photo__input {
  display: none;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 51vw;
  height: 15vh;
  left: 8vw;
  top: 40vh;
}
.about__input {
  box-sizing: border-box;
  width: 42vw;
  height: 10vh;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0 4vh 1vw;
}
.email {
  gap: 8px;
  position: absolute;
  width: 50vw;
  height: 10vh;
  left: 8vw;
  top: 55vh;
}
.email-phone__input {
  box-sizing: border-box;
  width: 42vw;
  height: 5vh;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1vw;
}
.phone {
  gap: 8px;
  position: absolute;
  width: 50vw;
  height: 10vh;
  left: 8vw;
  top: 70vh;
}
.button__next {
  padding: vh 2.2vw;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  position: absolute;
  width: 8vw;
  height: 5vh;
  left: 43vw;
  top: 85vh;
  background: #6b40e3;
  border-radius: 4px;
  border-color: #6b40e3;
  color: #ffffff;
}
.right__part {
  position: absolute;
  left: 60vw;
  top: 5vh;
  height: 95vh;
  width: 35vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: fit-content;
  border-bottom: 1px solid #C8C8C8 ;
}
#output_name {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
  padding-bottom: 3vh;
}
.output_email {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  padding-bottom: 1vh;
}
.output_phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  padding-bottom: 3vh;
}
#output_me {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
  padding-bottom: 1vh;
}
#output_about {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
  padding-bottom: 2vh;
}
#output_photo{
  width: 246px;
  height: 246px;
  border-radius: 133px;
}
.redlogo{
  position: absolute;
  left: 60vw;
  top: 92vh;
}
#form-first__page{
  display: block;
}